<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sales Sorting Test Suite" verbose="1">
    
    <!-- Run Sales Sorting Tests Only -->
    <test name="Sales Sorting Tests">
        <parameter name="cucumber.filter.tags" value="@TC_UI_SAL_11 or @TC_UI_SAL_12 or @TC_UI_SAL_13"/>
        <classes>
            <class name="com.example.runners.UiTestRunner"/>
        </classes>
    </test>
    
</suite>