<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Plant Sales UI Automation Suite" verbose="1">
    <test name="Sales Module Tests" parallel="methods" thread-count="3">
        <classes>
            <class name="com.plantsales.tests.SalesTest">
                <methods>
                    <include name="testAdminCanSellPlantWithSufficientStock"/>
                    <include name="testErrorWhenQuantityExceedsStock"/>
                    <include name="testAdminCanDeleteSale"/>
                    <include name="testDeletionRestoresStock"/>
                    <include name="testSalesSortedByNewestFirst"/>
                    <include name="testSoldDateSortIndicator"/>
                    <include name="testSortIndicatorToggles"/>
                    <include name="testCancelButtonFunctionality"/>
                    <include name="testPlantDropdownData"/>
                    <include name="testEmptyStateMessage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>